

#copyright{
    width: 100%;
    height: 100px;
    background-color: lightblue;
    margin-top: 50px;
}

h1 {
    text-align: center;
    color: navy;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#adminheader
{
    width: 100%;
    padding: 20px;
    background-color: lightblue;
    text-align: center;
}

#container
{
    display: flex;
    justify-content: space-between;
}

#adminmenu
{
    width: 15%;
   
}

#admindata
{
    width: 90%;
}


#homedata
{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.carticon
{
    color: white;
    font-size: 20px;
}

.itemcount
{
    color:white;
    margin-right: 10px;
    font-weight: bold;
}