<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
  <a href="/">Home</a>
  <a href="/insert">Insert</a>
  <a href="/display">Display</a>
  <a href="/update">Update</a>
  <hr size="2" color="red" />

  <h1>Displaying Employee's Records :</h1>
  <table border="2px" cellSpacing="10px" cellPadding="15px">
    <tr>
      <th>ID</th>
      <th>Name</th>
      <th>City</th>
      <th>Salary</th>
    </tr>

    <% MyData.forEach((key)=>{ %>
      <tr>
        <td>
          <%= key.empno %>
        </td>
        <td>
          <%= key.name %>
        </td>
        <td>
          <%= key.city %>
        </td>
        <td>
          <%= key.salary %>
        </td>
      </tr>
      <% })%>






  </table>
</body>

</html>