<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Document</title>
</head>

<body>
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <a href="/search">search</a>
    <hr size="2" color="red"/>

    <h1>Welcome tosearch Page</h1>
    <form method="post" action="/datasearch"></body>
    ENter employee no: <input  type="text" name="eno" />
    <button>search</button>
</body>
</html>