<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <hr size="2" color="red"/>

    <form method="post" action="/save">
        Empno:<input type="text" name="eno" /><br />
     Name : <input type="text" name="nm" /><br />
     City : <input type="text" name="cty" /><br />
    Salary: <input type="text" name="sal" /><br />
    <button>INSERT DATA</button>
    </form>
</body>
</html>