


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
</head>
<body>
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>
    <a href="/update">Update</a>
    <a href="/search">Search</a>

    <hr />

    <h1>This is Search Page</h1>

    <form method="post" action="/searchdata">
         Enter Employee Id <input type="text" name="tno">
         <button>Search</button>

    </form>

    <section>
        <table border="">

            <tr>
                <th>TechId</th>
                <th>Name</th>
                <th>Subject</th>
                <th>Salary</th>
            </tr>

            
      
            


        </table>
    </section>

   

    <hr />

    

    
   
</body>
</html>