
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body bgcolor="pink">
    <a href="/">Home</a>
    <a href="/insert">Insert</a>
    <a href="/display">Display</a>

    <hr size="2" color="red"/>

    <h1>Insert Employee Record</h1>
    
    <form method="post" action="/save">
        Enter Emp no: <input type="text" name="eno">
        <br>
        Enter Name: <input type="text" name="name">
        <br>
        Enter City: <input type="text" name="city">
        <br>
        Enter Salary: <input type="text" name="sal">
        <br>
        <button>SAVE!!!!!!</button>
    </form>

    <hr size="2" color="red"/>
   
</body>
</html>