

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
   
</head>
<body bgcolor="powderblue">

    <a href="/students/home">Home</a>            |
    <a href="/students/about">About</a>           |
    <a href="/students/services"> Courses</a>        |
    <a href="/students/gallery"> Gallery</a>            |
    <a href="/students/placement"> Placement</a>      |
    <a href="/students/jobs"> Jobs</a>        |
    <a href="/students/contact"> Contact US</a>       |


    <hr size="5px" color="black"/>

    <h1>Welcome to Gallery Page</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quos architecto fugiat, nam maxime dolor ad repellendus soluta! Debitis quam harum eum commodi placeat odio voluptas cupiditate reprehenderit ullam, tempora hic suscipit tempore ea dolore aut blanditiis nobis. Commodi, doloremque. Laudantium?</p>




  <div style="height: 70vh;"></div> 

  <div>
    <hr size="5px" color="black"/>
  </div>
   
    
</body>
</html>